<DOCTYPE!.css> 
<style>
     
        div {column-count: 2;
        margin-top: 0px;
        }
        div-2 {margin-left: 44%;
           margin-top: 5%;
            display: block;
            margin-bottom: 5%;
        }
        .div-3 {clear: both;
            column-count: 1;
            margin-top: 15%
            
        }
        body {text-align: justify;
            text-justify: inter-word;
            max-width: 700px;
            margin:auto;
            font-family: "Teko", sans-serif;  
        }
        p {margin-top: 0;   
        }
        .right {text-align: right; 
        }
        .left {float:left;
            width: 25%;
            height: 50%;
        }
    </style>